{:kotoba.app/id "cloud.itonami.isic-3091", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibmgwwxtxuiovx2qve4hqyf24mxyio3ipy6shxoggsaj247mhnazy", :kotoba.app/embed-url "ipfs://bafkreibmgwwxtxuiovx2qve4hqyf24mxyio3ipy6shxoggsaj247mhnazy", :published {:archive "https://kotobase.net/ipfs/bafkreibmgwwxtxuiovx2qve4hqyf24mxyio3ipy6shxoggsaj247mhnazy", :size 72574, :put-status 201, :get-status 200, :at "2026-08-15T12:54:53.037Z"}}
